mqtt.listeners.tcp.default = 0.0.0.0:1883

auth_backends.1 = ldap

auth_ldap.servers.1 = $LDAP_SERVER
auth_ldap.port = $LDAP_PORT
auth_ldap.use_ssl = $LDAP_SSL
auth_ldap.timeout = 5000
auth_ldap.log = network

auth_ldap.user_dn_pattern = uid=${username},ou=people,dc=example,dc=com
